<!DOCTYPE html>
<html>
<head>
  <title>KannelRails</title>
  <%= stylesheet_link_tag    "kannel_rails/application", :media => "all" %>
  <%= javascript_include_tag "kannel_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
